canvas.left
{
    position: fixed;
    top: 0;
    left: 0;
}
canvas.right
{
    position: fixed;
    top: 0;
    right: 300px;
}

body, html
{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}
/* 
canvas
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.menu
{
  background-color: white;
  width: 250px;
  padding: 25px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}